/*index*/
.base_index {
  margin-top: 30px;
  td {
    vertical-align: middle!important;
    p {
      font-size: 15px;
    }
  }
}

.add_base_btn {
  border: solid 1px #EEE;
  background-color: #EEE;
  padding: 10px;
}

/*new*/
.form_container {
  margin-top: 30px;
}
