
/* new */

.account-table {
  text-align: left;
}

.label-form {
  margin-top: 10px;
}

.btn-signup {
  margin: 15px auto;
}

/* index */

.input-group {
  margin-top: 20px;
  margin-bottom: 5px;
  label, span {
    margin-left: 0!important;
  }
  .form-control {
    background-color: white;
  }
}

.submit-table {
  padding-left: 0!important;
  padding-right: 0!important;
}

.submit-btn {
  width: 100%!important;
  }

.custom-field {
  display: none!important;
}

.index-area {
  margin-top: 20px;
  span{
  margin: auto 8px auto auto;
  }
}


.btn-space {
  padding : 15px;
  background-color: #EEE;
  margin-bottom : 15px;
}

.edit-area {
  border : solid 1px #EEE;
  padding : 10px;
}


.search-container {
  float: right;
  .form-search {
    height: 33px;
    padding-right: 0;
  }
}

.table-users {
  margin-top: 20px;
  th, td {
    text-align: center;
    vertical-align: middle!important;
    a{
      text-decoration: none;
    }
  }  
}


/* show */

.user-table {
  margin-top: 40px;
  tr {
    td{
      text-align: center;
      vertical-align: middle!important;
      a {
        text-decoration: none;
       }
    }
  }
}

span {
  margin: auto 20px;
}

.notifications {
  margin-bottom: 20px;
  td {
    padding: 3px;
  }
  span {
    font-size: larger;
    border: solid 2px #A94442;
    margin: auto 10px;
    a {
      color: #A94442;
    }
  }
}

.attendances-table {
  margin-top: 10px;
  tr {
    th, td{
      text-align: center;
      vertical-align: middle!important;
      a {
        margin-top: 0;
      }
    }
  }
}

.total-table {
  background-color: #EEE!important;
  text-align: center;
  td {
    vertical-align: middle!important;
  }
}

.applicate_container {
  float: right;
  margin-bottom: 5px;
  .month_applicate {
    text-align: center;
    border: solid 1px #777;
    padding: 5px;
    .month_form {
      display: block;
      margin-top: 10px;
      width: 140px;
    }
  }
}

.layout_correct {
   clear: both;
}


/* modal-display */
.modal-dialog {
  width: 70vw!important;
}

.modal-body {
  text-align: center;
}

/* pastlog-modal */

.pastlog-form {
  text-align: left;
  margin-bottom: 5px;
  .pastlog {
    display: inline-block;
    width: auto;
    float: left;
    margin-right:5px;
  }
}

.past_reset {
  display: inline-block;
  width: auto;
}

